<h1>Welcome to your profile!</h1>
<iframe src="https://giphy.com/embed/6R2mLi910HL4VXFwOG" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<a class="btn btn-link" href ="/users/logout">Log Out</a>